{% load inplace_edit %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}assets/ico/favicon.png">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}theme.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme_inplace.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}assets/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}assets/js/respond.min.js"></script>
    <![endif]-->
    {% inplace_css 1 %}
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>{% inplace_edit "title.text" %}</h1>
        {% if extra_fields %}
            {% inplace_edit "chunk_content.text" adaptor="tiny" %}
        {% else %}
            {% inplace_edit "chunk_content.text|safe" %}
        {% endif %}
      </div>

      <div class="page-header">
        <h1>{% inplace_edit "thumbnail_title.text" %}</h1>
      </div>
      {% for thumbnail in thumbnails %}
            {% if extra_fields and sorl_thumbnail %}
                {% inplace_edit "thumbnail.img" alt="{{ obj.alt }}", classes="img-thumbnail", adaptor="image_thumb", size="200x200" %}
            {% else %}
                {% inplace_edit "thumbnail.img" alt="{{ obj.alt }}", classes="img-thumbnail", width="200", height="200" %}
            {% endif %}
      {% endfor %}
      <div class="page-header">
        <h1>{% inplace_edit "alert_title.text" %}</h1>
      </div>
      {% for alert in alerts %}
        <div class="alert alert-{{ alert.alert_type }}">
            {% if extra_fields %}
                {% inplace_edit "alert.msg" adaptor="tiny_simple" %}
            {% else %}
                {% inplace_edit "alert.msg|safe" %}
            {% endif %}
        </div>
      {% endfor %}

      <div class="page-header">
        <h1>{% inplace_edit "panel_title.text" %}</h1>
      </div>
      <div class="row">
        {% for panel in panels %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="col-sm-4">
            {% endif %}
            <div class="panel panel-{{ panel.panel_type }}">
                <div class="panel-heading">
                    <h3 class="panel-title">{% inplace_edit "panel.title" %} ({% inplace_edit "panel.creation_time" %})</h3>
                </div>
                <div class="panel-body">
                    {% if extra_fields %}
                        {% inplace_edit "panel.content" adaptor="tiny" %}
                    {% else %}
                        {% inplace_edit "panel.content|safe" %}
                    {% endif %}
                </div>
            </div>
            {% if not forloop.counter0|divisibleby:2 %}
                </div>
            {% endif %}
        {% endfor %}

      <div class="page-header">
        <h1>{% inplace_edit "well_title.text" %}</h1>
      </div>
      <div class="well">
        {% if extra_fields %}
            {% inplace_edit "chunk_well_content.text" adaptor="tiny" %}
        {% else %}
            {% inplace_edit "chunk_well_content.text|safe" %}
        {% endif %}
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    {% inplace_js 1 1 %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/holder.js"></script>
  </body>
</html>
